.navbar{
    width: 600px;
    margin: 20px auto;
   /* display: inline-block; */
}
/* .navbar Link{
    text-decoration: none;
} */
.navbar .navlink{
    text-decoration: none;
    margin-left:30px ;
    font-size: 25px;
    color: black;
    display: inline;
}
CustomLink{
    display: inline;
}