.navbar{
    width: 700px;
    margin: 20px auto;
    background-color: antiquewhite;
}
.navbar Link{
    text-decoration: none;
}
.navbar .navlink{
    text-decoration: none;
    margin-left:30px ;
    font-size: 25px;
    
}