
.shop{

    display: flex;
     margin: 100px 0;
     justify-content: center;
     align-items: center;
     width: 1100px;
     
}
.shop-header{
    width: 60%;
    margin-right: 20px;
}
.shop-heading{
    color:rgb(55, 55, 197);
    font-size: 30px;
}
.shop-header p{
    font-size: 22px;
    text-align: justify;
}
.shop-header button{
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    background-color: rgb(168, 228, 209);
    border-radius: 10px;
    font-weight: bold;
}
.shop-banner img{
    width: 300px;
    height: 350px;
    border-radius: 20px;
}
.customer-reviews{
    text-align: center;
}
.customer-reviews .heading{
    font-size: 30px;
    margin-top:20px ;
}
.customer-reviews button{
    padding: 10px 60px;
    color: white;
    font-size: 25px;
    letter-spacing: 7px;
    border: none;
    margin-top: 20px;
    background-color:rgb(55, 55, 197);
    border-radius: 20px;
}
.customer-reviews-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    
}